info_type_filter: null, same_exp_info_type, other_than_exp_info_type
minLikelihood_filter: null, greater_than_exp_findings, less_than_expected_findings
maxFindingsPerItem: null, greater_than_exp_findings, less_than_expected_findings
maxFindingsPerRequest: null, greater_than_total_findings, less_than_total_findings
expected_result: true_positive, true_negative